@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-syne: var(--font-syne); /* Link to the CSS variable defined by next/font */
  --font-cormorant: var(--font-cormorant-garamond); /* Link to the CSS variable defined by next/font */
  --font-archivo: var(--font-archivo); /* Add Archivo font variable */

  --color-black: #000000;
  --color-white: #FFFFFF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grainy-overlay: url('data:image/svg+xml;base64,PHN2ZyB2aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDIwMCAyMDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGZpbHRlciBpZD0ibm9pc2VGaWx0ZXIiPjxmZVR1cmJ1bGVuY2UgdHlwZT0iZnJhY3RhbE5vaXNlIiBiYXNlRnJlcXVlbmNjeT0iMC43IiBudW1PY3RhdmVzPSIxIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PC9maWx0ZXI+PHJlY3Qgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIGZpbHRlcj0idXJsKCNub2lzZUZpbHRlcikiIG9wYWNpdHk9IjAuMDMiLz48L2N2Zz4=');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-archivo), sans-serif; /* Set default font to Archivo */
  background-image: var(--grainy-overlay);
  background-size: 200px; /* Adjust size as needed */
  background-repeat: repeat;
}
